autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
docopt==0.6.2
idna==3.3
mysql-connector-python==8.0.29
pika==1.2.1
pipreqs==0.4.11
protobuf==3.20.1
pycodestyle==2.8.0
PyMySQL==1.0.2
requests==2.27.1
toml==0.10.2
urllib3==1.26.9
yarg==0.1.9
