[submodule "sourceCode/element-plus"]
	path = sourceCode/element-plus
	url = git@github.com:element-plus/element-plus.git
	
[submodule "sourceCode/pro-components"]
	path = sourceCode/pro-components
	url = git@github.com:ant-design/pro-components.git

[submodule "debug-react"]
	path = DebugReact
	url = git@github.com:827753181/DebugReact.git

[submodule "vue-next"]
	path = sourceCode/vue-next
	url = git@github.com:vuejs/vue-next.git

[submodule "vueuse"]
	path = sourceCode/vueuse
	url = git@github.com:vueuse/vueuse.git