[submodule "debug-react"]
	path = DebugReact
	url = git@github.com:827753181/DebugReact.git
[submodule "sourceCode/element-plus"]
	path = sourceCode/element-plus
	url = git@github.com:element-plus/element-plus.git
	
[submodule "vueuse"]
	path = vueuse
	url = git@github.com:vueuse/vueuse.git
[submodule "vue-next"]
	path = vue-next
	url = git@github.com:vuejs/vue-next.git
[submodule "sourceCode/pro-components"]
	path = sourceCode/pro-components
	url = git@github.com:ant-design/pro-components.git
[submodule "sourceCode/vueuse"]
	path = sourceCode/vueuse
	url = git@github.com:vueuse/vueuse.git
[submodule "sourceCode/vue-next"]
	path = sourceCode/vue-next
	url = git@github.com:vuejs/vue-next.git
[submodule "sourceCode/hooks"]
	path = sourceCode/hooks
	url = git@github.com:alibaba/hooks.git
[submodule "sourceCode/lodash"]
	path = sourceCode/lodash
	url = git@github.com:lodash/lodash.git
[submodule "sourceCode/element"]
	path = sourceCode/element
	url = git@github.com:ElemeFE/element.git
[submodule "sourceCode/vite"]
	path = sourceCode/vite
	url = git@github.com:vitejs/vite.git
[submodule "sourceCode/react"]
	path = sourceCode/react
	url = git@github.com:facebook/react.git
[submodule "sourceCode/ant-design"]
	path = sourceCode/ant-design
	url = git@github.com:ant-design/ant-design.git
